.tableContainer{
    width:50%;
    height: 80%;
    display: flex;
    justify-content: center;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}